.input_error_border {
  border: 1px solid #58151c !important;
}

.form_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 30px;
}

.form_links p {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
}
